@font-face {
    font-family: 'Ubuntu';
    src: url(./Ubuntu-Regular.ttf) format('tff')';
}

@font-face {
    font-family: 'minecraftia';
    src: url(./minecraftia.woff);
}

body {
    /* background-color: #baaa80; */
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Ubuntu';
    width: 750px;
    height: 550px;

}

#userInput {
    width: 150px;
}

p {
    margin: 6px;
    font-size: 16px;
}

#title {
    font-weight: normal;

}

div#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#content {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly; */
    display: grid;
    grid-template-columns: 50% 50%;
    visibility: hidden;
}

.g2 {
    grid-column: 2;
    justify-self: center;
}

#bodyRender {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 13;
    visibility: hidden;
    justify-self: center;
}

#nametagDiv {
    grid-column: 1;
    grid-row: 1;
    display: grid;
}

#nametag {
    font-family: 'minecraftia';
    font-size: 25px;
    justify-self: center;
    align-self: center;
    transform:  skew(2deg, 3deg);
    /* animation-name: skew;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

@keyframes skew {
    from {
        transform: skew(0deg, 0deg);
    }
    to {
        transform: skew(2deg, 5deg);
    }

}